.menu {
    height: 100%;
    background-color: rgb(235, 235, 235);
    min-width: 172px;
}

.logo {
    width: 100%;
    height: 66px;
    background-color: rgb(235, 235, 235);
    /* display: none; */
}

.menu-element {
    width: 100%;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-weight: bold;
    transition: background-color 0.1s ease-in-out;
}

.active-menu-element {
    width: 100%;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    background: rgb(110, 110, 110);
    color: white;
    font-weight: bold;
}

.active-menu-element:hover {
    color: white;
}

.menu-element:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
}

.content-container {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 90%;
}
