.reports {
    overflow-y: auto;
    position: relative;
    background-color: rgb(245, 248, 248);

}

.button-holder {
    position: sticky;
    top: 0;
    background-color: rgb(149, 236, 236);
}

.report-element {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 8px 10px 8px 0px rgba(34, 60, 80, 0.2);
}
